html{
    scroll-behavior: smooth;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 40px;
}

h2{
    border-bottom: #007bff solid 2px;
    padding-bottom: 10px;
    color: #007bff;
}

body{
    background-color: #F3F4F6;
    font-family: Arial, sans-serif;
    width: 90%;
    margin: 0 auto;
}

div ul, div ol{
    list-style: none;
}


ol {
    background-color: white;
    box-shadow: 5px 5px 5px #E3E3E3;
    border-radius: 10px;
    padding: 15px;
}

a{
    text-decoration: none;
    color: blue;
}


a:hover{
    text-decoration: underline;
}

nav ol, nav li{
    list-style: none;
}



.grid-container{
    display: grid;
    grid-template-columns: auto;
    width: 90%;
}

@media screen and (min-width: 768px){

    .grid-container{
        grid-template-columns: 300px auto;
        column-gap: 50px;
    }

    nav{
        position: sticky;
        top: 0;

        height: 100vh;
    }


}

