p > a:before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    padding-left: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../foto's/link.png");
    transform: translateY(25%);
}