body {
    font-family: Verdana, sans-serif;
    background-color: #F3F4F6;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 40px;
}

h3{
    border-bottom: #007bff solid 2px;
    padding-bottom: 10px;
    color: #007bff;
    width: 90%;
}

h4{
    color: #333;
    text-decoration: underline;
}

ul{
    list-style: none;
}

.background li ol, section p{
    background-color: white;
    width: 80%;
    box-shadow: 5px 5px 5px #E3E3E3;
    border-radius: 10px;
}

section p{
    padding: 10px;
}

.imagestijl {
    border: 2px solid gray;
    padding: 10px;
}

section a{
    text-decoration: none;
    color: #007bff;
}

section a:hover{
    text-decoration: underline;
}

.checkmark ol > li{
    list-style-type:"\2713";
    padding-left: 10px;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
}

.tabel th, .tabel td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}




.vrienden table {
    font: normal 12px/150% Geneva, Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.vrienden {
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.vrienden table td, .datagrid table th {
    padding: 3px 10px;
}

.vrienden table thead th {
    background: linear-gradient(to bottom, #007BFF 5%, #3E51B5 100%);
    background-color: #007BFF;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 2px solid #0070A8;
}

.vrienden table thead th:first-child {
    border: none;
}

.vrienden table tbody td {
    color: #00496B;
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
}

.vrienden table tbody .alt td {
    background: #E1EEF4;
    color: #00496B;
}

.vrienden table tbody td:first-child {
    border-left: none;
}

.vrienden table tbody tr:last-child td {
    border-bottom: none;
}

.onbekend {
    background-color: red;
}